*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: 0.3s ease;
}
.dark{
    background: #292c35 ;
    border-radius: 50px;
}

.checkbox{
    opacity: 0;
    position: absolute;
}
.checkbox:checked + .label .ball{
    transform: translatex(24px);
}

.label{
    display: flex;
    height: 26px;
    width: 50px;
    background-color: #111;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;

}
.ball{
    background-color: #fff;
    height: 22px;
    width: 22px;
    border-radius: 50px;
    top: 2px;
    left: 2px;
    position: absolute;
    transition: transform 0.2s linear;
}
.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}